/* Common styles for navbar */
.navbar {
}


/* User profile grid */
.user-profile-grid-2 {
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Allow wrapping to new lines */
  gap: 20px; /* Space between items */
  padding: 40px;
  margin-top: 70px;
}

/* User profile card */
.user-profile-card-2 {
  width: 350px; /* Fixed width for uniformity */
  height: 340px; /* Fixed height for uniformity */
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

/* Dark mode styles for profile cards */
.dark-mode .user-profile-card-2 {
  background-color: #444; /* Darker background for cards */
  border-color: #666; /* Lighter border for contrast */
}

/* Hover effect for profile cards */
.user-profile-card-2:hover {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}
.dark-mode .user-profile-card-2:hover {
  box-shadow: 0 8px 8px rgba(255, 255, 255, 0.2);
}

/* Cover image */
.cover-image-2 {
  width: 100%; /* Ensure the cover image covers the full width */
  height: 80px; /* Fixed height for the cover image */
  background-size: cover;
  background-position: center;
  border-radius: 8px 8px 0 0;
  z-index: 0; /* Behind the profile image */
}

/* Profile image */
.profile-image-2 {
  width: 80px; /* Adjust the size of the profile image */
  height: 80px; /* Fixed height for profile image */
  border-radius: 50%;
  position: relative; /* Overlap with the cover */
  z-index: 1; /* In front of the cover image */
  margin-top: -50px; /* Move profile image down */
  margin-left: 15px;
}

/* Profile name and bio styles */
.profile-name-2 {
  margin: 10px 0;
  text-align: left;
}

.profile-bio-2 {
  color: #666;
  display: -webkit-box; /* Required for truncation */
  line-clamp: 2;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical; /* Set orientation for line clamping */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis (...) */
  text-align: left;
}

/* Dark mode styles for profile bio */
.dark-mode .profile-bio-2 {
  color: #bbb; /* Lighter text color for dark mode */
}
