body {
  background: radial-gradient(ellipse at center, #f7f9f5 0%, #e2e4d0 100%);
  background-size: 400% 400%;
  /* animation: gradientBG 15s ease infinite; */
  height: 100vh;
  margin: 0;
}

/* @keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
} */

.signin_img_container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  /* max-width: 1450px; */
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}

.signin_img {
  border: none;
  border-radius: 2%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  user-select: none;
  touch-action: manipulation;
}

.started-container {
  font-family: 'Afacad Flux', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.username-container, .email-container, .password-container {
  font-family: 'Afacad Flux', sans-serif;
  font-size: 20px;
  margin: 0 auto;
  width: 500px;
}

.username-box, .email-box, .password-box {
  border: solid;
  border-radius: 10px;
  border-color: rgb(171, 167, 167);
  border-width: 2px;
  background-color: rgb(197, 225, 197);
}

.signin-email-button, .signin-google-button {
  margin-top: 20px;
  display: block;
  font-family: 'Afacad Flux', sans-serif;
  font-size: 20px;
  margin: 20px auto 0;
  width: 500px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  border: none;
  background-color: #4CAF50;
  color: white;
  outline:'none';
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; /* Added transition for box-shadow */
}

.signin-email-button:hover, .signin-google-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
  outline:'none';
  text-decoration: none;
}

.signin-email-button:active, .signin-google-button:active {
  transform: scale(0.95);
  box-shadow: none; /* Remove shadow when active */
  outline:'none';
  text-decoration: none;
}

.signin-email-button::after, .signin-google-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(227, 239, 219, 0.6);
  border-radius: 50%;
  transform: translate(100%, 100%) scale(0);
  transition: transform 0.3s ease;
  pointer-events: none;
  outline:'none'
}

.signin-email-button:hover::after, .signin-google-button:hover::after {
  transform: translate(100%, 100%) scale(1);
  outline:'none'
}

.or, .dont-para, .forgot-para, .follow-para {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 0;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}

.twitter-icon, .insta-icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
}